<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	*{
		text-align : center;
	}
	table {
		border-collapse : collapse;
	}
	#my_view {
		width:220px;
	}
	.member_name {
		height : 20px;
	}
	.member_view {
		height : 150px;
	}
	
</style>
</head>
<body>

	<table border='1' width="900px">
		<tr>
			<td colspan='6'>
				클리어 목표 : <span id='div_clear'>10</span>
				/ 연결상태 : <span id="div_con" ></span>
	
			</td>
		</tr>
		<tr>
			<td rowspan="10" id = "my_view">1</td>
			<td class ="member_name">2</td>
			<td class ="member_name">3</td>
			<td class ="member_name">4</td>
			<td class ="member_name">5</td>
			<td class ="member_name">5</td>
		</tr>
		<tr>
			<td class = "member_view">1</td>
			<td class = "member_view">2</td>
			<td class = "member_view">3</td>
			<td class = "member_view">4</td>
			<td class = "member_view">5</td>
		</tr>
		<tr>
			<td class ="member_name">1</td>
			<td class ="member_name">2</td>
			<td class ="member_name">3</td>
			<td class ="member_name">4</td>
			<td class ="member_name">5</td>
		</tr>
		<tr>
			<td class = "member_view">1</td>
			<td class = "member_view">2</td>
			<td class = "member_view">3</td>
			<td class = "member_view">4</td>
			<td class = "member_view">5</td>
		</tr>
		<tr>
			<td class ="member_name">1</td>
			<td class ="member_name">2</td>
			<td class ="member_name">3</td>
			<td class ="member_name">4</td>
			<td class ="member_name">5</td>
		</tr>
		<tr>
			<td class = "member_view">1</td>
			<td class = "member_view">2</td>
			<td class = "member_view">3</td>
			<td class = "member_view">4</td>
			<td class = "member_view">5</td>
		</tr>
		<tr>
			<td class ="member_name">1</td>
			<td class ="member_name">2</td>
			<td class ="member_name">3</td>
			<td class ="member_name">4</td>
			<td class ="member_name">5</td>
		</tr>
		<tr>
			<td class = "member_view">1</td>
			<td class = "member_view">2</td>
			<td class = "member_view">3</td>
			<td class = "member_view">4</td>
			<td class = "member_view">5</td>
		</tr>
		<tr>
			<td class ="member_name">1</td>
			<td class ="member_name">2</td>
			<td class ="member_name">3</td>
			<td class ="member_name">4</td>
			<td class ="member_name">5</td>
		</tr>
		<tr>
			<td class = "member_view">1</td>
			<td class = "member_view">2</td>
			<td class = "member_view">3</td>
			<td class = "member_view">4</td>
			<td class = "member_view">5</td>
		</tr>
	</table>
	
	



</body>
</html>