{% extends 'layout.html' %}
<meta charset="UTF-8">
{% block content %}

<script src="/js/jquery-ui.js"></script>
<script src="/js/jquery-3.5.1.js"></script>
<script type="text/javascript">
	 
	function fn_detail(b_seq){
		location.href="snotice_detail?b_seq="+b_seq
	} 
	 
	function fn_add(){
		window.location.href="snotice_add"
	}
 
</script>
 
  <input type="button" value="글쓰기" onclick="fn_add()" /><br />
  <table  border="1px">
		<tr>
			<th>공지번호</th>
			<th>글제목</th> 
			<th>작성자</th>
			<th>작성일자</th> 
			<th>첨부파일</th> 
		</tr>
	{% for s in list %}
		<tr>
			<td><a href="javascript:fn_detail('{{s.b_seq}}')">{{s.b_seq}}</a></td>
			<td>{{s.title}}</td>
			<td>{{s.in_user_name}}</td>
			<td>{{s.in_date}}</td> 
			<td>{% if s.attach_file != None %}
				<span>O</span>
			    {% elif s.attach_file == None %}
				<span>X</span>
				{% endif %}
			</td> 
		</tr>
	{% endfor %}
  </table>
 


{% endblock %}
